.card {
    height: 35vh;  
}

.cartas {
    width: 35%;
    margin-left: 15%;
}

.contenido {
    width: 70%;
    margin-top: -7%;
}

img {
    width: 17%;
}

.bi-arrow-left {
    font-size: 40pt;
    margin-left: 4%;
}

.add-producto {
    color: white;
    margin-left: 86%;
    background-color:#e9a588;
    border-radius: 5px;
    height: 6vh;
    border: none;
    margin-bottom: -15%;

}

.filtros {
    width: 15%;
}

input {
    background-color: #E7C3B3;
}