.bi-arrow-left {
    font-size: 40pt;
    margin-left: 4%;
}

input {
    background-color: #CFC4C4;
}

textarea {
    background-color: #CFC4C4;
}

select {
    background-color: #CFC4C4;
}

.alert-created {
    width: 30%;
    margin-left: 68%;
    margin-top: -2%;
}