<div class="nav-bar">
    <div class="nav-item text-center" routerLink="/cajero/perfil" routerLinkActive="seleccionado">
        <div>
            <i class="bi bi-person-fill"></i>
            <p>Usuario</p>
        </div>
    </div>

    <div class="nav-item text-center" routerLink="/cajero/venta" routerLinkActive="seleccionado">
        <div>
            <i class="bi bi-cart-fill"></i>
            <p>Venta</p>
        </div>
    </div>

    <div class="nav-item text-center" routerLink="/cajero/caja" routerLinkActive="seleccionado">
        <div>
            <i class="bi bi-basket3-fill"></i>
            <p>Caja</p>
        </div>
    </div>
</div>
