.contenido {
    width: 75%;
    height: 68vh;
}

.add-user {
    color: white;
    margin-left: 88%;
    background-color:#e9a588;
    border-radius: 5px;
    height: 6vh;
    border: none;
    margin-bottom: -15%;

}

.bi-arrow-left {
    font-size: 40pt;
    margin-left: 4%;
    margin-bottom: -5%;
}