<div class="row p-5">

    <img [src]="getImagen()" class="w-25 col-6" />

    <div class="m-3 col-6">
        <h3>{{usuario?.username}}</h3>
    </div>

    <div class="col-12 mt-3">
        <p>Nombre completo: <strong>{{usuario?.nombreCompleto}}</strong></p>
        <p>
            Roles: 
            @for (role of usuario?.roles; track $index) {
                <strong>{{role}} </strong>
            }
        </p>
        @if(notAdmin()) {
            <button class="btn btn-info text-light" (click)="addRoleAdmin()">Añadir rol de admin</button>
        }
        @if(isAdmin()) {
            <button class="btn btn-danger" (click)="removeRoleAdmin()">Quitar rol de admin</button>
        }

        @if(usuario?.enabled) {
            <button class="btn btn-danger ms-5" (click)="disableUser()">Deshabilitar usuario</button>
        }@else {
            <button class="btn btn-info text-light ms-5" (click)="enableUser()">Habilitar usuario</button>
        }
    </div>
    @if(error) {
        <h4 class="bg-danger py-3 mt-3 text-light">No puedes deshabilitar tu perfil</h4>
    }
</div>
