.error-message {
    margin-top: 18%;
}

.casillas {
    margin: 0 auto;
    width: 85%;
}

.casillas>div {
    color: white;
    background-color: #a4a19c;
    margin: 8%;
    margin-left: 12%;
    margin-right: 15%;
    height: 20vh;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    padding-top: 5.5%;
}

@keyframes seleccionar-casilla {
    from {
        background-color: #a4a19c;
    }

    to {
        background-color: #555452;
    }
}

.casillas>div:hover {
    animation-name: seleccionar-casilla;
    animation-duration: 0.25s;
    background-color: #555452;
}

.cerrar-sesion {

    margin-left: 89%;
    margin-top: -90%;
}