@if(role != "ADMIN") {
    <h3 class="bg-danger py-5 text-light text-center error-message">No tienes permisos para acceder a esta página</h3>
}

@else {
    <h2 class="display-6 text-center mt-3">Inicio</h2>

    <div class="casillas row mt-2">
        <div class="col" routerLink="/admin/usuarios">
            Usuarios
        </div>
        <div class="col" routerLink="/admin/cajas">
            Cajas
        </div>

        <div class="col" routerLink="/admin/categorias">
            Categorías
        </div>
        <div class="col" routerLink="/admin/productos">
            Productos
        </div>
    </div>

    <button class="cerrar-sesion btn btn-metal-pink" (click)="cerrarSesion()">Cerrar sesión</button>
}
